<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <!-- Tell the runtime where to find the Cpp dll. The SDK puts the x86 version in the output folder by default, and
         the x64 version in a subfolder. But this means an x64 build would try to load the x86 version in the output
         folder. So we move x86 to a subfolder, and now we need to tell the CLR where to find the moved x86 version.
         And because we have to explicitly set test assemblies to 64 or 32 bit (and Mono doesn't support 32 bit) -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
</configuration>