# Common IntelliJ Platform excludes

# User-specific stuff:
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/codeStyleConfig.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files:
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml

# Rider code (IntelliJ excludes)

# Gradle:
# NOTE: gradle.xml is often also ignored here. This is only required if the gradle.xml
# contains path information, but we've got it configured to use the default wrapper.
# See https://youtrack.jetbrains.com/issue/IDEA-55923 for some more information
.gradle/
rider/.idea/**/libraries

# NOTE: We normally include *.iml for JetBrains IDEs, but Gradle based projects auto generate
# this on import, so we can happily ignore them. Don't do this for the Rider controlled project!
rider/.idea/**/modules.xml
rider/.idea/**/modules/**/*.iml
rider/.idea/**/compiler.xml


# C# solutions (Rider excludes)

# Rider creates nested .idea folders, one for each solution, so we don't get clashes if there are multiple
# solutions in the same folder. This is the reason for the .idea/**/whatever pattern
# Rider auto-generates a lot of the files in the .idea folder:
# .name (from the .sln file)
# modules.xml and .iml files
# contentModel.xml
# (indexLayout.xml should be committed if you add existing folder)
resharper/**/.idea/**/.name
resharper/**/.idea/**/modules.xml
resharper/**/.idea/**/*.iml
resharper/**/.idea/**/contentModel.xml

apiParser/.idea/**/.name
apiParser/.idea/**/modules.xml
apiParser/.idea/**/*.iml
apiParser/.idea/**/contentModel.xml


# Gradle output

rider/build/
rider/buildSrc/build/
resharper/build/
unity/build/


# IntelliJ build output (shouldn't really see these if we're using gradle projects)
rider/**/out/*


# Traditional C# excludes
**/.vs/
**/Packages/*
*.suo
*.user
[Bb]in
[Oo]bj


# Generated files
**/*.generated.dotSettings
**/*.generated.cs
**/*.generated.kt
**/*.generated.xaml
**/*.generated.props

resharper/**/*_lex.cs
resharper/**/*_lex.depends
resharper/test/data/**/*.tmp

resharper/NuGet.Config

# Backup & report files from converting an old project file to a newer Visual Studio version
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML

Thumbs.db
Desktop.ini
.DS_Store
