# Common IntelliJ Platform excludes

# User-specific stuff:
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files:
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider code

# Gradle:
# NOTE: gradle.xml is often also ignored here. This is only required if the gradle.xml
# contains path information, but we've got it configured to use the default wrapper.
# See https://youtrack.jetbrains.com/issue/IDEA-55923 for some more information
.gradle/
**/.idea/**/libraries

# NOTE: We normally include *.iml for JetBrains IDEs, but Gradle based projects auto generate
# this on import, so we can happily ignore them. Don't do this for the Rider controlled project!
rider/.idea/**/modules/*.iml

# IntelliJ
build/
out/

# ReSharper code
#
# New style .csproj uses packages in the user's cache, but the tests download packages of binaries.
# Would be nice to download them somewhere outside of the source tree.
Packages/*
*.nupkg

*.suo
*.user
[Bb]in
[Oo]bj

# Rider auto-generates .iml files. We don't need to track them, unlike most IntelliJ projects
resharper/src/.idea/**/*.iml

resharper/src/resharper-unity/_Generated/
resharper/src/**/*_lex.cs
resharper/src/**/*_lex.depends
resharper/test/data/**/*.tmp

# Backup & report files from converting an old project file to a newer Visual Studio version
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML

Thumbs.db
Desktop.ini
.DS_Store
