<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net461" />
  <package id="Antlr2.Tools" version="2.7.6.4" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="JetBrains.Build.Platform.Tasks.ThemedIconsPacker" version="2.0.20151217.1" targetFramework="net461" developmentDependency="true" />
  <package id="JetBrains.ExternalAnnotations" version="10.2.5" targetFramework="net461" />
  <package id="JetBrains.MSBuild.Xplat.Engine" version="20161013.1.0" targetFramework="net461" />
  <package id="JetBrains.NuGet.Core" version="2.13.0" targetFramework="net461" />
  <package id="JetBrains.NuGet.Ultimate" version="3.5.0.1" targetFramework="net461" />
  <package id="JetBrains.Platform.Core.Ide" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Core.Shell" version="107.0.20161222.212316" targetFramework="net461" />
  <package id="JetBrains.Platform.Core.Text" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Framework" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop.Ide" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.DevExpress" version="2.0.20150224.0" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.Microsoft.Deployment.Compression.Cab" version="2.0.20140304.0" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.System.Windows.Interactivity" version="2.0.20140318.0" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.VisualStudio.AnyVs.ShellInterop.PrivateBuild" version="2.0.20140304.0" targetFramework="net461" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20150225.0" targetFramework="net461" />
  <package id="JetBrains.Platform.RdProtocol" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Symbols" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.Tests.Framework" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Platform.VisualStudio" version="107.0.20161222.212632" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.Core" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.src" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.Tasks" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.test.Framework" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.UnitTesting" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.Psi.Features.VisualStudio" version="107.0.20161222.213045" targetFramework="net461" />
  <package id="JetBrains.ReSharper.SDK" version="2016.3.20161223.160207" targetFramework="net461" developmentDependency="true" />
  <package id="JetBrains.ReSharper.SDK.Internal" version="107.0.20161223.160207" targetFramework="net461" />
  <package id="JetBrains.ReSharper.SDK.Tests" version="2016.3.20161223.160207" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Mono.Debugger.Soft" version="1.0.20161020.46" targetFramework="net461" />
  <package id="Mono.Debugging" version="1.0.20161020.46" targetFramework="net461" />
  <package id="Mono.Debugging.Soft" version="1.0.20161020.46" targetFramework="net461" />
  <package id="Mono.Debugging.Win32" version="1.0.20161020.46" targetFramework="net461" />
  <package id="Mono.VSCodeDebugging" version="1.0.20161019.44" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NuGet.Core" version="2.13.0-rc1-final" targetFramework="net461" />
  <package id="NuGet.Core.Ultimate" version="3.5.0-rc1-final-jb1" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="NUnit.ReSharperRunner2" version="2.6.408" targetFramework="net461" />
  <package id="NUnit.ReSharperRunner3" version="3.0.12" targetFramework="net461" />
  <package id="NVelocity" version="1.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net461" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.87.20160802.0" targetFramework="net461" />
  <package id="Sprache.JetBrains" version="2.0.0.44" targetFramework="net461" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net461" />
  <package id="Wave" version="7.0.0.0" targetFramework="net461" />
  <package id="Windows7APICodePack.JetBrains.Stripped" version="1.1.20150225.0" targetFramework="net461" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net461" />
  <package id="xunit.abstractions.JetBrains" version="2.0.0" targetFramework="net461" />
  <package id="xunit.JetBrains" version="1.9.2" targetFramework="net461" />
  <package id="xunit.runner.utility.JetBrains" version="2.2.0" targetFramework="net461" />
</packages>