.idea/*
JetBrains.Rider.Unity.Editor/.idea/*
_ReSharper.Caches*
*.csproj
*.sln
*.suo
*.meta

!JetBrains.Rider.Unity.Editor/**/*.sln
!JetBrains.Rider.Unity.Editor/**/*.csproj

Library/*
!Library/resharper-unity-libs/**/*

ProjectSettings/*
obj/*
Temp/*

Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains/*.pdb
Assets/Plugins/Editor/JetBrains/*.mdb
Assets/Plugins/Editor/JetBrains/*.xml