.idea/*
_ReSharper.Caches*
*.csproj
*.meta

Library/*
!Library/resharper-unity-libs/**/*

ProjectSettings/*
obj/*
Temp/*
*.sln
!Full.sln
!ProtocolController/**/*.csproj
*.suo
Assets/Plugins/Editor/JetBrains/Unity3DRider.cs