<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net45" />
  <package id="Antlr2.Tools" version="2.7.6.4" targetFramework="net45" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net45" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net45" />
  <package id="JetBrains.ExternalAnnotations" version="10.2.13" targetFramework="net45" />
  <package id="JetBrains.MahApps.Metro" version="1.3.1" targetFramework="net45" />
  <package id="JetBrains.MSBuild.Xplat.Engine" version="20161013.1.0" targetFramework="net45" />
  <package id="JetBrains.NuGet.Core" version="2.14.0.1" targetFramework="net45" />
  <package id="JetBrains.NuGet.Ultimate" version="4.0.0-rtm-2265" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Ide" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Shell" version="108.0.20170222.124808-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Text" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Framework" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop.Ide" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.DevExpress" version="2.0.20150224.0" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.Microsoft.Deployment.Compression.Cab" version="2.0.20140304.0" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.System.Windows.Interactivity" version="3.0.40218" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.VisualStudio.AnyVs.ShellInterop.PrivateBuild" version="2.0.20140304.0" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20150225.0" targetFramework="net45" />
  <package id="JetBrains.Platform.MSBuild.Logger" version="1.0.20170130.0" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.Platform.RdProtocol" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Symbols" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.Tests.Framework" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Platform.VisualStudio" version="108.0.20170222.142954-eap03" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.Core" version="108.0.20170222.143455-eap03" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.src" version="108.0.20170222.143455-eap03" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.Tasks" version="108.0.20170222.143455-eap03" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.test.Framework" version="108.0.20170222.143455-eap03" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.UnitTesting" version="108.0.20170222.143455-eap03" targetFramework="net45" />
  <package id="JetBrains.ReSharper.SDK" version="2017.1.20170222.155443-eap03" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.ReSharper.SDK.Internal" version="108.0.20170222.155443-eap03" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.0" targetFramework="net45" />
  <package id="Mono.Debugger.Soft" version="1.0.20170220.50" targetFramework="net45" />
  <package id="Mono.Debugging" version="1.0.20170220.50" targetFramework="net45" />
  <package id="Mono.Debugging.Soft" version="1.0.20170220.50" targetFramework="net45" />
  <package id="Mono.Debugging.Win32" version="1.0.20170220.50" targetFramework="net45" />
  <package id="Mono.VSCodeDebugging" version="1.0.20170215.45" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.ReSharperRunner2" version="2.6.408" targetFramework="net45" />
  <package id="NUnit.ReSharperRunner3" version="3.0.12" targetFramework="net45" />
  <package id="NuProj" version="0.11.14-beta" targetFramework="net45" developmentDependency="true" />
  <package id="NVelocity" version="1.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net45" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.87.20161027.6" targetFramework="net45" />
  <package id="Sprache.JetBrains" version="2.1.0" targetFramework="net45" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net45" />
  <package id="Wave" version="8.0.0.0-eap03" targetFramework="net45" />
  <package id="Windows7APICodePack.JetBrains.Stripped" version="1.1.20150225.0" targetFramework="net45" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net45" />
  <package id="xunit.abstractions.JetBrains" version="2.0.0" targetFramework="net45" />
  <package id="xunit.JetBrains" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.utility.JetBrains" version="2.2.0" targetFramework="net45" />
</packages>