<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncBridge.JetBrains" version="0.1.1.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net452" />
  <package id="JetBrains.Mono.Posix" version="20160927.50" targetFramework="net452" />
  <package id="JetBrains.NuGet.Core" version="2.13.0" targetFramework="net452" />
  <package id="JetBrains.Platform.Core.Shell" version="107.0.20161214.153252" targetFramework="net452" />
  <package id="JetBrains.Platform.Lib.System.Windows.Interactivity" version="2.0.20140318.0" targetFramework="net452" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20150225.0" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Newtonsoft35.Json" version="7.0.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.13.0-rc1-final" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.87.20160802.0" targetFramework="net452" />
  <package id="Sprache.JetBrains" version="2.0.0.44" targetFramework="net452" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net452" />
  <package id="Wave" version="7.0.0.0" targetFramework="net452" />
  <package id="Windows7APICodePack.JetBrains.Stripped" version="1.1.20150225.0" targetFramework="net452" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net452" />
</packages>