<configuration>
  <runtime>
    <assemblyBnding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBnding>

    <!-- As of 211, something is causing 4.0.6.0 to get referenced. MSBuild reckons it's JetBrains.Platform.Core, but
         this is definitely referencing 4.0.4.1. The SDK is referencing the 4.5.3 package which is 4.0.4.1 file version.
         This forces us to stick with 4.0.4.1 -->
    <assemblyBnding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBnding>
  </runtime>
</configuration>