.idea/*
JetBrains.Rider.Unity.Editor/.idea/*
_ReSharper.Caches*
*.csproj
*.sln
*.suo
*.meta

!*.sln
!*.csproj

Library/*
!Library/resharper-unity-libs/**/*

ProjectSettings/*
obj/*
Temp/*
**/packages/*
build/*

Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
Assets/Plugins/Editor/JetBrains/*.pdb
Assets/Plugins/Editor/JetBrains/*.mdb
Assets/Plugins/Editor/JetBrains/*.xml