name: CI

on:
  pull_request:
  workflow_dispatch:

jobs:
  # Make sure we only invoke known gradle-wrapper.jar files
  gradleValidation:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

  windows:
    needs: gradleValidation
    runs-on: windows-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2
      - name: Setup .NET CLI
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Build and Tests
        shell: powershell
        run: powershell -File .\build.ps1 -RunTests -Verbose
      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: nunit-reports
          path: rider\build\nunit\reports
  linux:
    needs: gradleValidation
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2
      - name: Setup .NET CLI
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Build
        shell: bash
        run: ./build.sh --info --stacktrace
  macos:
    needs: gradleValidation
    runs-on: macos-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2
      - name: Setup .NET CLI
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Build
        shell: bash
        run: ./build.sh --info --stacktrace
